**/target/
**/node_modules/
**/.DS_Store
**/.env
**/.env.local
**/.env.production
**/dist/
**/build/
**/.next/
**/out/
**/.idea/
**/.vscode/
*.log
*.iml
.classpath
.project
.settings/
mysql_data/
PRODUCTION_CREDENTIALS.md

