spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/processserve_db
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8081

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

jwt:
  secret: processserve-jwt-secret-key-2024-secure
  expiration: 86400000  # 24 hours in milliseconds

logging:
  level:
    com.processserve: DEBUG
    org.springframework.security: DEBUG
